.CreatePost {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: auto;
    padding: .5rem;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-buttons {
    display: flex;
    flex-direction: row;
}