.Post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 289px;
    padding: 30px;
    border: 1px solid #CED7E7;
    border-radius: 10px;
    margin-bottom: 16px;
}

.post-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.post-header-text {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.post-header-text > p {
    margin: 0;
}

img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.post-counts {
    display: flex;
    flex-direction: row;
}

.post-counts > p {
    margin-right: 1rem;
}